@import "../../style/placeholders";
@import "../../style/constants";

.button {
  @extend %transition;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $primary-color;
  color: white;
  font-size: 2rem;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  &:hover {
    background-color: rgb(255, 255, 255);
    color: $primary-color;
  }

  &:active:not(&:disabled) {
    transform: scale(0.95);
  }

  &:disabled {
    cursor: default;
    transition: none;
    color: rgb(202, 199, 199);
    background-color: gray;
    border: 1px solid gray;
  }
}
