@import "../../style/placeholders";

$primary-color: rgb(102, 102, 217);

.button {
  @extend %transition;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  color: white;
  font-size: 2rem;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: rgb(255, 255, 255);
    color: $primary-color;
  }

  &:active {
    transform: scale(0.95);
  }
}
