@import "../../style/mixins";

.chart {
  font-size: 1.6rem;
  width: 40%;
  height: 100%;
  min-width: 600px;
  @include media-crypto-layout-breakpoint {
    width: 70%;
  }
  @include media-chart-breakpoint {
    min-width: 100%;
  }
  @include media-mobile {
    font-size: 1rem;
  }
}
.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  @include media-mobile {
    font-size: 2rem;
  }
}
