@import "../../style/mixins";
$symbol-color: grey;

.list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 10px;
  row-gap: 5px;
  flex-wrap: wrap;
  padding-bottom: 8px;
  font-size: 1.5rem;
  @include media-mobile {
    flex: 1;
    font-size: 1.2rem;
  }
  &__item {
    display: flex;
    column-gap: 5px;
  }
  &__symbol {
    font-size: 1.2rem;
    color: $symbol-color;
  }
  &__money {
    display: flex;
    column-gap: 5px;
    padding: 0 4px;
    border-radius: 5px;
    background-color: rgb(256, 0, 0);
    backdrop-filter: opacity(20%);
  }
}
