$symbol-color: grey;

.list {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding-bottom: 8px;
  overflow: auto;
  font-size: 1.5rem;
  &__item {
    display: flex;
    column-gap: 5px;
  }
  &__symbol {
    font-size: 1.2rem;
    color: $symbol-color;
  }
  &__money {
    display: flex;
    column-gap: 5px;
    padding: 0 4px;
    border-radius: 5px;
    background-color: rgb(256, 0, 0);
    backdrop-filter: opacity(20%);
  }
}
