@import "../../style/mixins";

.info {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  width: 40%;
  border-radius: 5px;
  border: 1px solid black;
  padding: 20px;
  margin-top: 60px;

  @include media-desktop {
    margin-top: 20px;
  }
  @include media-crypto-layout-breakpoint {
    width: 60%;
    font-size: 3rem;
  }
  @include media-tablet {
    padding: 10px;
    min-width: 310px;
  }
  @include media-mobile {
    min-width: 300px;
    padding: 5px;
    font-size: 1.8rem;
  }
}
.primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 20px;
  @include media-tablet {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.secondary {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  @include media-tablet {
    font-size: 2rem;
  }
}

.symbol {
  font-size: 1.5rem;
  color: grey;
}

.change {
  margin-bottom: 20px;
}

.price {
  font-size: 3rem;
}

.text {
  font-size: 1.7rem;
}

.row {
  display: flex;
  column-gap: 10px;
  text-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  &:last-child {
    border: none;
  }
}

.loader {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
