@import "../../style/mixins";

.header {
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.76);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    padding: 10px 0;
    @include media-mobile {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
