$content-width: 1240px;
$crypto-layout-breakpoint: 1115px;
$tablet-width: 768px;
$chart-breakpoint: 600px;
$table-breakpoint: 580px;
$pre-mobile-width: 455px;
$mobile-width: 420px;
$small-mobile-width: 420px;

$primary-color: #7979f0;
