@import "../../style/mixins";

.portfolio {
  font-size: 1.7rem;
  text-wrap: nowrap;
  @include media-mobile {
    font-size: 1.4rem;
  }
}

.title {
  color: grey;
}

.initial {
  font-weight: 700;
}

.diff {
  color: green;
}